[
  {rabbit, [
    {loopback_users, "none"}
  ]},
  {rabbitmq_management, [
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_mqtt, [
    {allow_anonymous,  false},
    {vhost,            "/"},
    {exchange,         "amq.topic"},
    {subscription_ttl, 86400000},
    {prefetch,         10},
    {tcp_listeners,    [18820]}
  ]}
].