<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3688960405-tacfq7u71uc71teqvcg72isbu5d58oiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3688960405-tacfq7u71uc71teqvcg72isbu5d58oiv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3688960405-2hc1gt1n63s5e2akiv73ck5oc5j5hhaa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv8xbB3KRHbLZZRB30TkVdH8ik_1mDpuU</string>
	<key>GCM_SENDER_ID</key>
	<string>3688960405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inobus</string>
	<key>PROJECT_ID</key>
	<string>inobusapp</string>
	<key>STORAGE_BUCKET</key>
	<string>inobusapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3688960405:ios:c126be5467ebb0c7e4669c</string>
</dict>
</plist>