<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>${env.GOOGLE_SERVICES_CLIENT_ID_IOS}</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>${env.GOOGLE_SERVICES_REVERSED_CLIENT_ID_IOS}</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>${env.GOOGLE_SERVICES_ANDROID_CLIENT_ID_IOS}</string>
	<key>API_KEY</key>
	<string>${env.GOOGLE_SERVICES_API_KEY_IOS}</string>
	<key>GCM_SENDER_ID</key>
	<string>${env.GOOGLE_SERVICES_GCM_SENDER_ID_IOS}</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inobus</string>
	<key>PROJECT_ID</key>
	<string>inobusapp</string>
	<key>STORAGE_BUCKET</key>
	<string>inobusapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>${env.GOOGLE_SERVICES_GOOGLE_APP_ID_IOS}</string>
</dict>
</plist>